{{ define "main" }}
{{ partial "profile.html" . }}
<section id="list-page" class="home">

    {{ .Content }}

    <section class="app-icons">
        <ul>
            <li>
                <a href="https://itunes.apple.com/app/id439840557" title="Ruutu" target="_blank">
                    <img src="img/ruutu.png" alt="Ruutu">
                    <span>Ruutu</span>
                </a>
            </li>
            <li>
                <a href="https://itunes.apple.com/app/id1048533570" title="Supla" target="_blank">
                    <img src="img/supla.png" alt="Supla">
                    <span>Supla</span>
                </a>
            </li>

            <li>
                <a href="https://itunes.apple.com/app/id771791010" title="Freedome VPN" target="_blank">
                    <img src="img/freedome.png" alt="Freedome VPN">
                    <span>Freedome VPN</span>
                </a>
            </li>

            <li>
                <a href="https://itunes.apple.com/app/id1439784468" title="Lemmikkihelppi" target="_blank">
                    <img src="img/lemmikkihelppi.png" alt="Lemmikkihelppi">
                    <span>Lemmikkihelppi</span>
                </a>
            </li>

            <li>
                <a href="https://itunes.apple.com/app/id911422904" title="NYT Cooking" target="_blank">
                    <img src="img/cooking.jpg" alt="NYT Cooking">
                    <span>NYT Cooking</span>
                </a>
            </li>

            <li>
                <a href="https://itunes.apple.com/app/id1144959740" title="We Read" target="_blank">
                    <img src="img/weread.jpg" alt="We Read">
                    <span>We Read</span>
                </a>
            </li>
            <li>
                <a href="https://itunes.apple.com/app/id1027456457" title="Univision Fantasy" target="_blank">
                    <img src="img/fantasy.jpg" alt="Univision Fantasy">
                    <span>Univision Fantasy</span>
                </a>
            </li>

            <li>
                <a href="https://itunes.apple.com/app/id1253441191" title="Eniram Mobile" target="_blank">
                    <img src="img/eniram.jpg" alt="Eniram Mobile">
                    <span>Eniram Mobile</span>
                </a>
            </li>

        </ul>
    </section>
</section>
{{ end }}